
*.class

*.tokens

*.interp

//Ignorar archivos del .antlr que son automaticos
Parte1_2/gramatica/.antlr/MapaLexer.java
Parte1_2/gramatica/.antlr/MapaParser.java

Parte3/.antlr/EjemploLexer.java
Parte3/.antlr/EjemploParser.java
Parte3/.antlr/EjemploParserBaseListener.java
Parte3/.antlr/EjemploParserListener.java

//Ignorar archivos que generamos con los .g4
Parte1_2/gramatica/MapaLexer.java
Parte1_2/gramatica/MapaParser.java
Parte1_2/gramatica/MapaParserBaseListener.java
Parte1_2/gramatica/MapaParserListener.java

Parte3/EjemploLexer.java
Parte3/EjemploParser.java
Parte3/EjemploParserBaseListener.java
Parte3/EjemploParserListener.java
